<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyq.nongyezhongzhi.admin.dao.IGrowerDao">
  
  <insert id="create">
   insert into grower values (#{name},#{sex},#{age},#{tel},'N')
  
  </insert>
  
  <update id="update">
   update grower set GROWERPassword=#{password},GROWERName=#{name},GROWERAge=#{age},GROWERSex=#{sex}
  ,GROWERTel=#{tel}
   where GrowerID=#{id}
  </update>
  
  <delete id="delete">
   delete from Grower where  GROWERID=#{id}
  </delete>
   
  
</mapper>