<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyq.nongyezhongzhi.yield.dao.IYieldDao">
  
  <insert id="create">
   insert into yield values (#{id},#{wheatyield},#{riceyield},#{friutsyield},'N')
  
  </insert>
  
  <update id="update">
   update yield set YieldWheatYield=#{wheatyield},YieldRicEYield=#{riceyield},YieldFruits=#{friutsyield},
 
  
   where YIELDID=#{id}
  </update>
  
  <delete id="delete">
   delete from Yield where  YIELDID=#{id}
  </delete>
   
  
</mapper>