<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyq.nongyezhongzhi.baseinfo.dao.IFruitsDao">
  
  <insert id="create">
   insert into fruits values (#{id},#{yeardata},#{monthlddata},#{quarterdata},'N')
  
  </insert>
  
  <update id="update">
   update fruits set FruitsYearData=#{yeardata},FruitsMonthldData=#{monthlddata},FruitsQuarterData=#{quarterdata},
  
   where FRUITSID=#{id}
  </update>
  
  <delete id="delete">
   delete from Fruits where  FRUITSID=#{id}
  </delete>
   
  
</mapper>