<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyq.nongyezhongzhi.baseinfo.dao.IWheatDao">
  
  <insert id="create">
   insert into wheat values (#{id},#{yeardata},#{monthlddata},#{quarterdata},'N')
  
  </insert>
  
  <update id="update">
   update wheat set WheatYearData=#{yeardata},WheatMonthldData=#{monthlddata},WheatQuarterData=#{quarterdata},
  
   where WHEATID=#{id}
  </update>
  
  <delete id="delete">
   delete from wheat where  WHEATID=#{id}
  </delete>
   
  
</mapper>